{erl_opts, [nowarn_unused_type, debug_info, {d, maps_support}]}.
{deps, [{hackney, "1.18.0"},
        {jsx, "3.0.0"},
        {aws_beam_core, "1.0.1"}
       ]}.
{project_plugins, [rebar3_hex, rebar3_ex_doc, rebar3_check_app_calls]}.
{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
          {'README.md', #{title => <<"Overview">>}},
          {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>},
    {homepage_url, <<"https://github.com/aws-beam/aws-erlang">>},
    {source_url, <<"https://github.com/aws-beam/aws-erlang">>}
]}.
