{erl_opts, [debug_info]}.
{deps, [{erlware_commons, "0.11.1",
         {git, "git://github.com/erlware/erlware_commons.git",
         {tag, "v0.11.1"}}},
        {hackney, "1.0.6"},
        {jsx, "2.1.1"}]}.
{plugins, [
  {rebar_edown_plugin,
   {git, "git://github.com/jkakar/rebar_edown_plugin.git", {tag, "0.1.0"}}}
]}.
