name: Upload release

on:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    container:
      image: erlang:24.3.4.2
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Compile
        run: rebar3 compile

      - name: Run EUnit Tests
        run: rebar3 eunit

      - name: Generate docs
        run: rebar3 ex_doc

      - uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to hex.pm
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
        run: rebar3 hex publish -r hexpm --yes
